.seitentitel
{
	color:#FFFFFF;
  font-size:30px;
	font-weight: bold;
  font-family:"Courier", sans-serif;
}

.ueberschrift1
{
	color:#00000;
  font-size:25px;
	font-weight: bold;
  font-family:"Courier", sans-serif;
}

.ueberschrift2
{
	color:#00000;
  font-size:18px;
	text-decoration-line: underline;
  font-family:"Courier", sans-serif;
}

.button
{
	background-color: #cccccc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.forecast-big td img
{
	width: 50px;
}

.forecast-small td
{
	width: 30px;
	font-weight: bold;
}



.control img
{
	width: 50px;
}

td
{
	font-size: 16px;
	font-family:"Courier", sans-serif;
}

a
{
	text-decoration: none;
	color: #000000;
}

.forecast
{
	color:#00000;
  font-size:16px;
  font-family:"Courier", sans-serif;
}
