[Unit]
Description=smarthome web api
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/api
ExecStart=/home/ec2-user/api/venv/bin/python3 /home/ec2-user/api/app.py
Restart=always

[Install]
WantedBy=multi-user.target
